.g6 {
  /* background: #fff;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 0, transparent 75%, #ccc 0),
    linear-gradient(45deg, #ccc 25%, transparent 0, transparent 75%, #ccc 0);
  background-position: 0 0, 15px 15px;
  background-size: 10px 10px; */
  /* border: 2px solid #cccccc; */
  float: left;
  width: 600px;
  height: 300px;
  margin-top: 20px;
  margin-left: 150px;
}

.title {
  color: rgb(66, 66, 66);
  font-weight: 500;
  font-size: 24px;
}

.ring {
  /* margin-top: 50px; */
  float: left;
}

.score {
  float: left;
  width: 500px;
  margin-top: 10px;
}

.detail {
  float: left;
  margin-left: 25px;
}

.container {
  /* border: 1px solid #cccccc; */
  /* flex: 1; */
  width: 150px;
  height: 150px;
  margin-top: 15px;
  margin-left: 25px;
  padding: 10px;
  padding-bottom: 20px;
  color: #ff7875;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  /* background-color: #fff; */
  border:3px solid #ff7875;
  border-radius: 50%;
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}

.container > p {
  margin: 5px;
  position: relative;
  top:25px;
}
